.col-md-9 {
  width: 75%;
}

body {
  line-height: 1.7;
}

.container {
  width: 1060px;
}

.wrap {
  background: #f8f8f8;
}

header {
  margin-bottom: 30px;
}

@media (min-width: 992px) .col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12 {
  float: left;
}

.slick-slide {
  display: none;
  float: left;
  height: auto;
  min-height: 1px;
  margin: 5px;
  margin-left: 10px;
  width: 230px !important;
}

.slick-slider {
  width: 1090px;
  overflow: hidden;
  margin: 5px auto;
}

button.slick-next.slick-arrow {
  width: 2.5%;
  float: right;
  margin-top: 100px;
}

.LessonModule__container {
  width: 135%;
  margin-left: -20px;
}

button.slick-prev.slick-arrow {
  width: 2.5%;
  float: left;
  margin-top: 100px;
}

.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: #fff;
  border-radius: 4px;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;
}

.breadcrumb > li {
  display: inline-block;
}

.breadcrumb > .active {
  color: #777777;
}

.breadcrumb > li {
  display: inline-block;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
  overflow: hidden
}

.col-md-12 {
  width: 100%;
}

.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.LessonDetail__header {
  margin: 20px auto;

  border-radius: 5px;
  box-shadow: 1px 1px 4px 0px #bbbbbb;
}

h1.lecture-title {
  color: #fff;
  padding-left: 10px;
  margin-bottom: 5px;
}

.LessonDetail__info {
  padding: 20px 20px;
  padding-top: 23px;
  background: #fff;
}

.table-responsive {
  overflow-x: auto;
  min-height: 0.01%;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

.table-title {
  margin-bottom: 0px;
  margin-top: 0px;
}


table {
  background-color: transparent;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.LessonDetail__title {
  background-color: #880e4f;
  height: 133px;
  padding: 13px;

}

.pull-left {
  float: left !important;
  width: 100%;
}

.pull-right {
  float: right !important;
}

.LessonDetail__nav {
  float: left;
  list-style: none;
  margin: 5px 10px;
}

.btn {
  padding: 8px 10px;
}

.tr-table {
  background-color: #f8f8f8;
}

.Syllabus__list {
  list-style-type: none;
  width: 100%;
  margin: 0px auto 15px;
  padding-left: 0px;
  box-shadow: 1px 1px 4px 0px #bbbbbb;
  border-radius: 3px;
  background-color: #fff;
  padding: 20px;
}

.Syllabus__list.review table {}

.col-sm-6-B {
  width: 100%;
}

.Syllabus__row {
  width: 100%;

}

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.col-md-3 {
  float: left;
}

.Syllabus__header p {
  font-weight: bold;
  color: #008080;
  font-size: 20px
}

.Syllabus__header .review p {
  font-weight: bold;
  color: #f57f17;
  font-size: 20px
}

.row-A {
  margin-top: 30px;
  overflow: hidden;
}

.Syllabus__row-1 {
  width: 100%;
  padding: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.col-sm-6-A {
  width: 50%;
  float: left;
  padding-left: 0px;
}

.col-sm-6-A-2 {
  width: 50%;
  float: left;
  padding-right: 0px;
}

.table > thead > tr > th,
.table > thead > tr > td,
.table > tbody > tr > th,
.table > tbody > tr > td,
.table > tfoot > tr > th,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.428571429;
  vertical-align: top;

}

.table-striped > tbody > tr {
  border-bottom: solid 5px #f8f8f8;
}

.Syllabus__reviewer {
  font-size: 14px;
  color: #333;
  font-weight: bold;
}

.Syllabus__grade {
  font-size: 30px;
  color: #e36718;
  font-weight: bold;
  margin: 20px 0px;
}

.Syllabus__rev li span {
  color: #e36718;
  letter-spacing: 0.1em;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;
  list-style: none;
  padding-left: 0px;
}

.col-sm-3 {
  width: 25%;
}

table {
  font-size: 14px;
}


.LessonModule__col {
  list-style-type: none;
  min-width: 30%;
  width: 30%;
  margin-right: 3%;
  white-space: normal;
}

.LessonModule__carousel {
  overflow-x: visible;
  white-space: nowrap;

  padding-bottom: 20px;
  display: flex;
  align-content: stretch;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.text-success {
  color: #008080;
  width: 100%;
}

h4,
.h4 {
  font-size: 22px;
}

.LessonModule__title {
  color: #fff;
  word-wrap: break-word;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.1em;
}

.LessonModule__item {
  color: #fff;
  word-wrap: break-word;
  font-size: 13px;
  line-height: 18px;
}

a {
  color: #777777;
  text-decoration: none;
}


.review {
  padding: 0px;
}

.Syllabus__header.Syllabus__header--big {
  padding-left: 20px;
  padding-top: 20px;
}

.content {
  width: 200px;
}

.Syllabus__rev li {
  float: left;
  font-size: 14px;
  margin-bottom: 10px;
  width: 100%;
}

@media (max-width:400px) {
  .col-sm-6-A {
    width: 100%;
    float: left;
    /* padding-left: 0px; */
  }

  .col-sm-6-A-2 {
    width: 100%;
    float: left;
    /* padding-right: 0px; */
  }

  .row-A {
    height: 1200px;
    margin-top: 30px;
  }

  .col-xs-1,
  .col-sm-1,
  .col-md-1,
  .col-lg-1,
  .col-xs-2,
  .col-sm-2,
  .col-md-2,
  .col-lg-2,
  .col-xs-3,
  .col-sm-3,
  .col-md-3,
  .col-lg-3,
  .col-xs-4,
  .col-sm-4,
  .col-md-4,
  .col-lg-4,
  .col-xs-5,
  .col-sm-5,
  .col-md-5,
  .col-lg-5,
  .col-xs-6,
  .col-sm-6,
  .col-md-6,
  .col-lg-6,
  .col-xs-7,
  .col-sm-7,
  .col-md-7,
  .col-lg-7,
  .col-xs-8,
  .col-sm-8,
  .col-md-8,
  .col-lg-8,
  .col-xs-9,
  .col-sm-9,
  .col-md-9,
  .col-lg-9,
  .col-xs-10,
  .col-sm-10,
  .col-md-10,
  .col-lg-10,
  .col-xs-11,
  .col-sm-11,
  .col-md-11,
  .col-lg-11,
  .col-xs-12,
  .col-sm-12,
  .col-md-12,
  .col-lg-12 {
    padding-left: 0px;
    padding-right: 0px;
  }

  .list1 {
    padding: 35px;
  }

  .rep {
    width: 100%;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
  }

  .reprep {
    width: 100%;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
  }

  .reprep p {
    font-size: 16px;
    margin: 0 30px;
    margin-bottom: 20px;
  }



  ul.Syllabus__rep {
    margin-bottom: 30px;
  }
}

.btn-like {
  background-color: #fce4ec;
  color: #000;
}

.icon-star {
  font-size: 18px;
  color: #BBDEFB;
  font-family: "vorkercon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  letter-spacing: -3.5px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.totalEvaluation_item {
  font-size: 18px;
  padding: 0 8px 0 0;
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 5px;
}

.fw-b {
  margin-left: 10px;
  color: #fff;
  font-weight: bold;
}


.reprep h5 {
  font-size: 22px;
  margin: 0px;
  margin-bottom: 10px;
  margin-top: 10px;
}

ul.Syllabus__rev {
  width: 30%;
  overflow: hidden;
  margin: 0;
  float: left;
}

.col-xs-12.col-sm-6.reprep {
  /* margin: 0 30px; */
  width: 97%;
  margin: 10px;
  border-radius: 20px;
}

.articleTitle {
  /* border-left: 5px solid #bfcdda; */
  padding: 1px 0 1px 10px;
  margin: 30px 0 10px 0;
  margin-bottom: 18px;
  margin-top: 50px;
  font-family: メイリオ, Meiryo, "ヒラギノ角ゴ ProN W3", HiraKakuProN-W3, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", helvetica, arial, sans-serif;
  border-color: #faebcc;
  color: #008080;
}

.articleTitle_regular {
  font-weight: 600;
  font-size: 28px;
  display: inline;
  margin: 0 3px 0 0;
}

.articleTitle_small {
  font-weight: 400;
  font-size: 16px;
  display: inline-block;
  margin: 5px;
}

.o-h {
  overflow: hidden;
  margin: 20px auto;
}

.p-r {
  position: relative;
}

ul,
ol {
  list-style: none;
}



.d-ib {
  display: inline-block;
}

.button-shareReview {
  background: transparent;
  width: 34px;
  height: 34px;
  text-indent: 30px;
  white-space: nowrap;
  overflow: hidden;
}

.button {
  border-radius: 50%;
  background: #fce4ec;
  padding: .35em 10px;
  display: inline-block;
  text-align: center;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
}

.button-good {
  float: left;
  position: relative;
  display: block;
  height: 36px;
  width: 110px;
  line-height: 36px;
  padding: 0 10px;
  background: #fcf8e3;
  color: #880e4f;
  border-radius: 20px;
}

.button-good-no {
  position: relative;
  display: inline-block;
  font-size: .923em;
  padding: 0 5px;
  height: 18px;
  text-align: center;
  line-height: 18px;
  margin: 0 0 0 5px;
  color: #555;
  font-size: .923em;
  border-radius: 10px;
}

.pcIcon-shareReview {
  border: 1px solid #ddd;
  border-radius: 50%;
  line-height: 0;
}

.ml-15 {
  margin-left: 15px !important;
}

.pcIcon-shareReview:before {
  position: absolute;
  font-size: 1.2308em;
  top: 50%;
  left: 9px;
  margin: -8px 0 0;
  line-height: 1;
  color: #aaa;
  z-index: -1;
}

.pcIcon-71:before {
  content: "\e64e";
}

.pcIcon:before,
.pcIcon-after:after {
  font-family: 'vorkers-pc-icon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.user-label-icon.label-icon-lg img {
  width: 55%;
  /* margin: 0 20%; */
  margin-left: 45px;
}

.img-circle {
  border-radius: 50%;
}

.button.button-strong,
.button-sample.button-strong {
  color: #fff;
  border-radius: 5px;
}

.borderBlue {
  border: 1px solid #0079b2;
}

.button-companyAction {
  padding: 5px 10px;
  min-height: 33px;
  line-height: 33px;
  display: block;
  width: 100%;
}

.borderBlue {
  border: 1px solid #0079b2;
}

.button-companyAction {
  padding: 5px 10px;
  min-height: 33px;
  line-height: 33px;
  display: block;
  width: 100%;
  border-radius: 5px;
  margin-top: 10px;
  background: #fff;
}

.Sidebar {
  margin-top: 65px;
}

.alert-warning {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 4px;
}


a {
  color: #337ab7;
  text-decoration: none;
}

b,
strong {
  font-weight: bold;
}

.review {
  width: 100%;
  margin: 0 auto;
}

.user_box_front {
  display: flex;
  background: #f6f9fb !important;
  padding: 20px 15px;
  border-radius: 8px;
}

.user_box_front .icon {
  margin: 0 20px 0 0;
}

p.small2 {
  font-size: 14px;
  /* font-weight: bold; */
  width: 50%;
  float: left;
}

.size40 {
  width: 40px;
  height: 40px;
}

.icon {
  margin: 0 auto;
  border-radius: 50%;
  background-position: top;
  background-size: cover;
}

.user_box_front .body {
  width: 100%;
}

.bold {
  font-weight: 700;
  font-size: 18px;
  font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ ProN W3", "HiraKakuProN-W3", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "helvetica", "arial", sans-serif;
}

.plan_detail .small {
  font-size: 13px !important;
  color: #666;
}

.plan_detail .small2 {
  font-size: 14px !important;
}

.LessonModule__col {
  list-style-type: none;
  min-width: 30%;
  width: 30%;
  margin-right: 3%;
  white-space: normal;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #ccc;
  width: 320px;
  float: left;
  /* border: solid 2px #880e4f; */
  border: 1px solid #e6eef3;
  padding-right: 20px;
  padding-top: 5px;
  border-radius: 10px;
  padding: 15px 20px;
  /* border: 2px solid #0cb3d9; */
  background: #fff;
  box-shadow: 0 0 15px #eaf1f4;
  height: 220px;
}

tbody {
  font-size: 13px;
}

.LessonModule__block--has-review {
  box-shadow: 0px 1px 6px 1px #f5c09f;
}

.LessonModule__block {
  padding: 5px 10px 10px;
  height: 100%;
  border-radius: 8px;
  color: #888;
  position: relative;
  box-shadow: 0px 1px 6px 1px #aeaeae;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.LessonModule__has-review {
  position: absolute;
  top: 4px;
  right: 6px;
  border-radius: 0px 3px 0px 3px;
  color: #e36718;
  width: 1em;
  text-align: center;
  transition: .3s;
  font-size: 20px;
}

.LessonModule__header {
  width: 100%;
  padding: 5px 5px 10px;
  overflow: hidden;
}

.LessonModule__title {
  color: #888;
  word-wrap: break-word;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.1em;
  margin-bottom: 7px;
}

.LessonModule__item {
  color: #888;
  word-wrap: break-word;
  font-size: 13px;
  line-height: 18px;
}

.LessonModule__footer table {
  margin-bottom: 0px;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

.LessonModule__footer table .table-header {
  background: #fffdf1;
}
