.container {
  position: relative;
  right: 0px;
  transition: 0.5s;
}


.row {
  margin-left: -15px;
  margin-right: -15px;
  width: 100%;
}

a {
  color: #337ab7;
  text-decoration: none;
}

header {
  margin-bottom: 40px;
}

h6,
.h6 {
  font-size: 12px;
}

.col-xs-12 {
  width: 100%;
}

.user-label-icon.label-icon-lg img {
  width: 160px;

}

.img-circle {
  border-radius: 50%;
}



.field {
  margin-bottom: 1.25rem;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
  margin-bottom: 100px;
}

.fr-file-input label {
  font-size: 90%;
  color: #808080;
  display: inline-block;
  margin-bottom: 4px;
  width: 100%;
}


form-control-file,
.form-control-range {
  display: block;
}

input {
  line-height: normal;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  background: #88889f;
  border-radius: 3px;
  color: #fff;
  padding: 10px 20px;
  font-size: 20px;
}

.Page {
  margin-bottom: 15px;
}



.row-img {
  text-align: center;
  overflow: hidden;
}



.btn-re {
  background: #88889f;
}


.profile {
  width: 400px;
  margin: 0 auto;
  background: #fff;
  box-shadow: 0 0 15px #eaf1f4;
  padding: 20px 20px 40px;
}
