.user-label-icon.label-icon-lg img {
  width: 55%;
  /* margin: 0 20%; */
  margin-left: 45px;
}

.img-circle {
  border-radius: 50%;
}

.Sidebar {
  margin-top: 65px;
}

.button.button-strong,
.button-sample.button-strong {
  color: #fff;
  border-radius: 5px;
}

.button-companyAction {
  padding: 5px 10px;
  min-height: 33px;
  line-height: 33px;
  display: block;
  width: 100%;
  border-radius: 5px;
  margin-top: 10px;
  background: #fff;
}

.borderBlue {
  border: 1px solid #0079b2;
}

ul,
ol {
  list-style: none;
  margin-top: 0;
  margin-bottom: 10px;
  list-style: none;
  padding-left: 0px;
}
