.con1 {
  height: 656px;
  background: url(../images/art.png) center center/cover no-repeat;
}

h1 {
  text-align: center;
  font-size: 30px;
  margin: 0;
  margin-top: 110px;
}

body {
  margin: 0px;
}

body {
  color: #262626;
  font-family: Avenir Next, Verdana, 游ゴシック, Yu Gothic, YuGothic, ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, Osaka, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.main-visual[data-v-d28f5fe6] {
  overflow: hidden;
  padding: 74px 18px 0;
  position: relative;
}

.main-visual .lead[data-v-d28f5fe6] {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  margin-bottom: 10px;
}

.main-visual .concept[data-v-d28f5fe6] {
  color: #fff;
  font-family: Avenir Next, sans-serif;
  font-size: 96px;
  font-weight: 900;
  margin-top: 15px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  z-index: 0;
  margin-bottom: 220px;
}


a {
  text-decoration: none;
}


.basic-button.is-large[data-v-553e386e] {
  border-radius: 10px;
  font-size: 16px;
  padding: 21px 0 18px;
  width: 270px;
  margin-top: 10px;
}

.con1 {
  width: 100%;
  background-color: orange;
  /* float: left; */
  overflow: hidden;
  margin-bottom: 50px;
}



.basic-button[data-v-553e386e] {
  background-color: #f67e28;
  border-radius: 15px;
  box-shadow: 0 2px 7px rgba(0, 0, 0, .2);
  color: #fff;
  display: block;
  font-size: 14px;
  font-weight: 700;
  margin: 0 auto;
  padding: 17px 0 14px;
  transition: all .2s ease-out;
  text-align: center;
  width: 230px;
}

.basic-button.number2 {
  background-color: #fff;
  color: #000000;
}

.wrapper {
  width: 840px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
  overflow: hidden;
  margin-bottom: 30px;
}

.about h1 {
  color: #333;
  font-size: 40px;
  line-height: calc(56 / 40);
}

.about h1,
.about__main,
.button {
  text-align: center;
}

.fadein-content.is-displayed {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}



.about__list > li {
  width: 322px;
}

.about__main.is-many-job {
  background: url(/img/top/about/icon_ribbon_1.png) center 20px/36px 50px no-repeat #FFF;
}

.about__main {
  position: relative;
  padding: 88px .5em 14px;
  border-bottom: 2px solid #000;
  background: #FFF;
  font-size: 18px;
  line-height: calc(25 / 18);
  -webkit-transform: rotate(.03deg);
  -ms-transform: rotate(.03deg);
  transform: rotate(.03deg);
}

.about__explain {
  margin-top: 0;
  padding: 12px 16px 0;
  font-size: 14px;
}

.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.about h1 {
  margin-top: 30px;
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 20px;
}

.about h1,
.about__main,
.button {
  text-align: center;

}

main h1,
main h2,
main h3 {
  font-family: YuMincho, "ヒラギノ明朝 Pro", "MS PMincho", serif;
  font-weight: 600;
  -webkit-transform: rotate(.03deg);
  -ms-transform: rotate(.03deg);
  transform: rotate(.03deg);
}

.about {
  padding-top: 42px;
  padding-bottom: 80px;
  background: ;
}



li {
  list-style: none;
}




.number3 {
  margin-top: 30.150px;
}

.LessonModule__col {
  list-style-type: none;
  min-width: 30%;
  width: 30;
  margin-right: 1.5%;
  margin-left: 1.5%;
  white-space: normal;
  float: left;
}

.LessonModule__block {
  padding-bottom: 10px;
  color: rgb(136, 136, 136);
  position: relative;
  box-shadow: rgb(174, 174, 174) 0px 1px 6px 1px;
  margin: 10px auto 20px;
  border-radius: 8px;
  background: rgb(255, 255, 255);
  box-shadow: 0px 1px 6px 1px #f5c09f;
}

.LessonModule__header {
  /*width: 100%;*/
  /* background-color: rgb(136, 14, 79);*/
  padding: 5px 15px 10px;
}

.LessonModule__title {
  color: rgb(255, 255, 255);
  overflow-wrap: break-word;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.1em;
  margin-bottom: 10px;
}

.LessonModule__item {
  color: rgb(255, 255, 255);
  overflow-wrap: break-word;
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 0px;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

.LessonModule__footer table .table-header {
  background: rgb(248, 248, 248);
}

.LessonModule__footer table .table-header th {
  color: rgb(51, 51, 51);
  font-weight: lighter;
  letter-spacing: 0.1em;
  line-height: 18px;
}

.table > thead > tr > th,
.table > thead > tr > td,
.table > tbody > tr > th,
.table > tbody > tr > td,
.table > tfoot > tr > th,
.table > tfoot > tr > td {
  line-height: 1.42857;
  vertical-align: top;
  padding: 8px;
}

.LessonModule__header a {
  color: rgb(0, 128, 128);
}

.LessonModule__footer a {
  color: black;
}

.table {
  width: 95%;
  max-width: 100%;
  margin: 5px auto 11.6px;
}

.LessonModule__item {
  color: #616161;
  overflow-wrap: break-word;
  font-size: 13px;
  line-height: 18px;
  font-weight: bold;
  margin-top: 0px;
}



.btn-t {
  margin-top: 50px;
}

about-service[data-v-0519325c] {
  background-color: #eef3f7;
  padding: 86px 0 80px;
}

about-service .heading-lv2[data-v-0519325c] {
  font-size: 24px;
  margin-bottom: 13px;
  text-align: center;
}

.about-service .description[data-v-0519325c] {
  font-size: 14px;
  line-height: 25px;
  text-align: center;
}

.about-service .support[data-v-0519325c] {
  background-color: #fff;
  max-width: 1060px;
  margin: 80px auto;
  overflow: hidden;
  padding: 44px 0 41px;
}

.about-service .heading-lv3[data-v-0519325c] {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 46px;
  text-align: center;
}

.support-slides .list[data-v-5bc305ae] {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0 auto 39px;
  max-width: 900px;
}

.support-slides .item[data-v-5bc305ae] {
  text-align: center;
  width: 28.88889%;
}


.support-slides .item .img[data-v-5bc305ae] {
  display: block;
  margin-bottom: 16px;
}

.support-slides .item .title[data-v-5bc305ae] {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 7px;
  width: 200px;
}

.support-slides .item .description[data-v-5bc305ae] {
  font-size: 18px;
  line-height: 20px;
  color: black;
  border-left: solid 8px orange;
  background: rgb(248, 248, 248);
  margin-bottom: 15px;
  line-height: 1.5;
  border-radius: 0 15px 15px 0;
  padding: 0.5em;
  list-style-type: none !important;
  /* width: 45%; */
  font-weight: bold;
}

.about-service .support-buttons[data-v-0519325c] {
  list-style: none;
}

.about-service .support-buttons-item[data-v-0519325c] {
  margin-bottom: 14px;
  text-align: center;
}



.basic-link[data-v-859d0dc4] {
  color: #f67e28;
  cursor: pointer;
  font-size: 24px;
  font-weight: 700;
  line-height: 25px;
  text-decoration: none;
  transition: all .2s ease-out;
}

.about-service .heading-lv2[data-v-0519325c] {
  font-size: 24px;
  margin-bottom: 13px;
  text-align: center;
  font-size: 30px;
}

.about-service[data-v-0519325c] {
  background-color: #eef3f7;
  padding: 86px 0 80px;
}


.serach {
  max-width: 1060px;
  margin: 0 auto;
  overflow: hidden;

  margin-bottom: 100px;
  margin-top: 20px;
}

.serach h2 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 30px;
}


.content1 {
  float: left;
  width: 30%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(images/class.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 200px;
  margin: 0 1%;


}

.con2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.12)), url(images/飲み会.jpg);
}

.con3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(images/meet.jpg);
}

.content1 p {
  margin: auto;
  line-height: 200px;
  text-align: center;
  color: #FFF;
  font-size: 32px;
  font-weight: bold;
}

.img-content {
  width: 100%;
  overflow: hidden;
}

.search-text {
  font-size: 20px;
  text-align: center;
  line-height: 1.6;
  margin-top: 20px;
}

.search-text span {
  font-size: 25px;
  font-weight: bold;
  color: #f67e28;
}

.icon-star {
  font-size: 16px;
  color: #5ba5d0;
  font-family: "vorkercon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  letter-spacing: -3.5px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.totalEvaluation_item {
  font-size: 1.076em;
  padding: 0 8px 0 0;
  display: inline-block;
}

.table > thead > tr > th,
.table > thead > tr > td,
.table > tbody > tr > th,
.table > tbody > tr > td,
.table > tfoot > tr > th,
.table > tfoot > tr > td {
  padding: 3px;
  line-height: 1.428571429;
  vertical-align: top;
}

.col-xs-12.col-sm-6.reprep {
  /* margin: 0 30px; */
  width: 90%;
  margin: 30px auto;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.col-xs-12.col-sm-6.reprep {
  /* margin: 0 30px; */
  width: 90%;
  margin: 5px auto;
}

.reprep h5 {
  font-size: 15px;
  margin: 0px;
  margin-bottom: 10px;
  margin-top: 10px;
}

ul.Syllabus__rep {
  width: 100%;
  overflow: hidden;
  padding-left: 0px;
}

.Syllabus__rep li {
  float: left;
  font-size: 12px;
  margin-bottom: 10px;
  width: 33.333333333%;
  line-height: 1.6;
}

.Syllabus__rep li span {
  color: #e36718;
  letter-spacing: 0.1em;
}

.p-r {
  position: relative;
}

.o-h {
  overflow: hidden;
  margin: 5px auto;
  padding-left: 0;
}

.button-good {
  float: left;
  position: relative;
  display: block;
  height: 36px;
  width: 110px;
  line-height: 36px;
  padding: 0 10px;
  background: #fce4ec;
  color: #880e4f;
  border-radius: 20px;
}

.button-good-no {
  position: relative;
  display: inline-block;
  font-size: .923em;
  padding: 0 5px;
  height: 18px;
  text-align: center;
  line-height: 18px;
  margin: 0 0 0 5px;
  background: #97BDD8;
  color: #fff;
  font-size: .923em;
  border-radius: 10px;
}

.review {
  padding: 0px;
}

.Syllabus__list {
  list-style-type: none;
  width: 47%;
  margin: 0px auto 15px;
  padding-left: 0px;
  box-shadow: 1px 1px 4px 0px #bbbbbb;
  border-radius: 3px;
  background-color: #fff;
  margin: 20px auto;

  float: left;
  margin-left: 30px;
  overflow: hidden;
}



.table-striped > tbody > tr {
  border-bottom: solid 5px #f8f8f8;
}

.LessonDetail__nav {
  float: left;
  list-style: none;
  margin: 20px 10px;
}

.btn {
  padding: 10px 20px;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 10px 22px;
  font-size: 14px;
  line-height: 1.428571429;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #f67e28;
  background-color: #FFB74D;
  color: #fff;
}

.Syllabus__list h2 {
  background-color: #f8f8f8;


  margin: 0px;
}

.Syllabus__list h2 p {
  margin: 0px;
  padding-top: 10px;
  font-size: 16px;
  padding-left: 15px;
  padding: 20px;
}

tbody {
  font-size: 14px;
}

.review2 {
  margin-left: 50px;
}

@media (min-width: 768px) {
  .main-visual p.concept br {
    display: none;
  }
}

@media (max-width: 768px) and (min-width: 315px) {
  .main-visual .concept[data-v-d28f5fe6] {
    color: #fff;
    font-family: Avenir Next, sans-serif;
    font-size: 45px;
    font-weight: 900;
    margin-top: 15px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    z-index: 0;
    margin-bottom: 130px;
  }

  .main-visual[data-v-d28f5fe6] {
    overflow: hidden;
    padding: 24px 18px 74px;
    position: relative;
    height: 450px;
  }

  .serach {
    max-width: 1060px;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 100px;
    margin-top: 20px;
    display: none;
  }

  .main-visual .lead[data-v-d28f5fe6] {
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    margin-bottom: 10px;
  }

  .con1 {
    background: url(../images/art.png) center center/cover no-repeat;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: auto;
  }

  .title-h1 {
    margin: 0 18px 0px;
  }

  h1 {
    text-align: center;
    font-size: 22px;
    margin: 0;
    /* margin-top: 110px; */
  }


}
