.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.panel-primary {
  max-width: 660px;
  border-radius: 7px;
  border: none;
  margin: 50px auto 70px;
  box-shadow: 0 0 15px #eaf1f4;
}

.col-xs-6.col-xs-offset-3 {
  width: 680px;
  margin: 0 auto 30px;
}

.pan {
  overflow: hidden;
  background: none;
  margin: 20px auto;
}

.table > thead > tr > th,
.table > thead > tr > td,
.table > tbody > tr > th,
.table > tbody > tr > td,
.table > tfoot > tr > th,
.table > tfoot > tr > td {
  padding: 15px;
  line-height: 1.428571429;
  vertical-align: top;
  border-top: 1px solid #ddd;
  font-weight: normal;
}

.wrap {
  overflow: hidden;
  background: rgb(247, 250, 251);
}
}

figure {
  margin: 10px 15px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #ccc;
  width: 45.5%;
  float: left;
  /* border: solid 2px #880e4f; */
  border: 1px solid #e6eef3;
  padding-right: 20px;
  padding-top: 5px;
  border-radius: 10px;
  padding: 15px 20px;
  /* border: 2px solid #0cb3d9; */
  background: #fff;
  box-shadow: 0 0 15px #eaf1f4;
}

.col-xs-6.col-xs-offset-3 {
  width: 680px;
  margin: 70 auto 30px;
}

a.button-header {
  background-color: #FFB74D;
  color: #fff;
  border: solid 2px #FFB74D;
  margin: 10px 5px;
}

.icatch {
  background: linear-gradient(90deg, #e5fdff, #93e4eb);
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  padding: 40px 0 100px;
  position: relative;
  z-index: 0;
}

.icatch .inner {
  max-width: 1050px;
  margin: 0 auto;
}

.icatch .inner .text-wrap {
  text-align: center;
  position: relative;
}

.icatch .inner .text-wrap p {
  font-weight: bold;
  font-size: 24px;
  margin: 0;
}

.icatch .inner .text-wrap h1 {
  font-size: 40px;
  color: #2b3e59;
  margin: 10px 0 25px;
}

.icatch .inner .images {
  padding: 0 40px;
}

body img {
  max-width: 100%;
  display: block;
}

.theme-links {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(152, 186, 204, 0.3);
  padding: 30px 25px 10px;
  position: relative;
  width: 100%;
  margin: -100px 0 40px;
  z-index: 1;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  margin-top: -100px;
  /* padding: 0 20px; */
  overflow: hidden;
}

.theme-links h2 {
  color: #1eaebf;
  font-size: 18px;
  text-align: center;
  padding: 0;
  margin: 0 0 10px;
}

.theme-links ul {
  /* display: flex; */
  align-items: center;
  /* margin: 0 100px; */
  flex-wrap: wrap;
  overflow: hidden;
}

.theme-links ul li {
  margin: 5px 15px;
}

.theme-links ul li a {
  color: #323333;
  font-weight: bold;
}

theme-links ul li a::after {
  content: "\f0d7";
  color: #1eaebf;
}

.fa-icon::after {
  margin: 0 0 0 5px;
}

.col-md-9 {
  width: 75%;
  float: none;
  margin: 0 auto;
}

.col-xs-6.col-xs-offset-3 {
  width: 800px;
  margin: 70 auto 30px;
}

@media (min-width: 769px) {
  .form-sp {
    display: none;
  }
}

@media (max-width: 768px) and (min-width: 315px) {

  .form-pc {
    display: none;
  }

  td:first-child {
    width: 41%;
  }

  .icatch .inner .text-wrap h1 {
    font-size: 22px;
    color: #2b3e59;
    margin: 0px 0 25px;
  }

  .icatch .inner .text-wrap p {
    font-weight: bold;
    font-size: 14px;
    margin: 0;
  }

  .theme-links {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(152, 186, 204, 0.3);
    padding: 30px 0px 10px;
    position: relative;
    width: 100%;
    margin: -100px 0 40px;
    z-index: 1;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    margin-top: -100px;
    /* padding: 0 20px; */
    overflow: hidden;
  }

  .col-sm-3 {
    width: 50%;
    float: left;
  }

  .form-group.text-right {
    display: none;
  }

  .clear-btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 10px 22px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #666666;
    background-color: #f8f8f8;
    margin-bottom: 15px;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .form-control {
    display: block;
    width: 100%;
    height: 38px;
    padding: 3px 5px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #555;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  }

  .col-xs-6.col-xs-offset-3 {
    width: 100%;
    padding: 0;
  }

  .col-xs-6.col-xs-offset-3 {
    width: 100%;
    padding: 0;
  }

  .col-md-9 {
    width: 100%;
    float: none;
    padding: 0;
    margin: 0 auto;
  }

  .table > thead > tr > th,
  .table > thead > tr > td,
  .table > tbody > tr > th,
  .table > tbody > tr > td,
  .table > tfoot > tr > th,
  .table > tfoot > tr > td {
    padding: 5px;
    line-height: 1.428571429;
    vertical-align: top;
    border-top: 1px solid #ddd;
    font-weight: normal;
    font-size: 13px;
  }

  .alert {
    padding: 12px 5px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
  }

  .col-xs-6.col-xs-offset-3 {
    width: 100%;
    padding: 0;
    margin-top: 40px;
  }

}
