@charset "utf-8";

body {
  margin: 0;
  padding: 0;
  color: #333333;
  font-size: 15px;
  line-height: 1.6;
  font-family: 游ゴシック, YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, sans-serif;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


button.slick-next.slick-arrow {
  width: 2.5%;
  float: right;
  margin-top: 200px;
}

.slick-list.draggable {
  width: 95%;
  float: left;
}

button.slick-prev.slick-arrow {
  width: 2.5%;
  float: left;
  margin-top: 200px;
}


.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 992px) {

  .con1 {
    width: 75%;
    background-color: orange;
    float: left;
  }

  .container {
    width: 1120px;
    overflow: hidden;
  }

  .panel-primary {
    border-color: #337ab7;
  }

  .panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  }

  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  user agent stylesheet div {
    display: block;
  }

  body {
    font-family: 游ゴシック, YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, sans-serif;
  }

  body {
    font-family: 游ゴシック, YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333333;

  }

  .panel-primary > .panel-heading {
    background-color: #fce4ec;
    border-color: #fce4ec;
    background-color: #880e4f;
    border-color: #fce4ec;
    padding: 15px 25px;
    border-bottom: 1px solid transparent;

    width: 100%;
    color: #fff;
    margin-left: 0px;
    margin-bottom: 0px;
    overflow: hidden;
  }
}

.panel-body {
  padding: 15px 20px;
  overflow: hidden;
}

.form-group {
  margin-bottom: 15px;
}

@media (min-width: 768px) .col-sm-6 {
  width: 50%;
}

.form-control {
  display: block;
  width: 100%;
  height: 42px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #555;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.form-group {
  margin-bottom: 15px;
}

.col-sm-6 {
  width: 50%;
}



.form-group {
  margin-bottom: 15px;
  margin-top: 10px;
}


.col-sm-3 {
  width: 33.3333%;
  float: left;
}


.pull-right {
  float: right !important;
}

.btn-xs,
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 10px 42px;
  font-size: 14px;
  line-height: 1.428571429;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /*background-color: #f67e28;*/
  background-color: #FFB74D;
  color: #fff;
}

.btn-r {
  font-size: 11px;
  padding: 10px 16px;
}

tbody {
  font-size: 14px;
}


* {
  /* -webkit-box-sizing: border-box; */
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clear-btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 10px 22px;
  font-size: 14px;
  line-height: 1.428571429;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  color: #666666;
  background-color: #f8f8f8;
  margin-bottom: 15px;
  margin-top: 10px;
  margin-left: 25px;
  margin-right: 15px;
}

.panel {
  margin-bottom: 100px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.checkbox {
  color: #fff;
}

.col-xs-12 {
  width: 100%;
}

.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12 {
  float: left;
}

.col-md-9 {
  width: 75%;
}

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}


.mT5 {
  margin-top: 5px;
}


.top-mainvisual::before {
  position: absolute;
  z-index: -10;
  right: 0;
  left: 0;
  width: 2934px;
  margin-right: calc(50% - 50vw);
  margin-left: calc(50% - 50vw);
  -webkit-animation: bgroop 40s linear infinite;
  animation: bgroop 40s linear infinite;
  background-repeat: repeat-x;
  background-size: contain;
  content: '';
}

.pan {
  overflow: hidden;
  background: #fff;
  margin: 20px auto;

}

.top-con {
  width: 710px;
  /* height: 416px; */
  /* float: left; */
  margin-top: 80px;
  padding: 30px;
  font-size: 23px;
  line-height: 1.7;
  letter-spacing: 1px;
  color: #444;
  background: #fff;
  /* font-weight: bold; */
  border-radius: 7px;
  margin: 0 auto;
}

.top-con .pon {
  /* border-bottom: solid 4px #f67e28;*/
  text-align: center;
}

.top-con .pon2 {
  font-size: 20px;
}

.pl {
  font-size: 15px;
  border-bottom: none;
  margin-top: 20px;
  letter-spacing: 0.8px;
}

.top-con ul {
  overflow: hidden;
}

.top-con span {
  color: #f67e28;
  font-weight: bold;
  font-size: 31px;
}

.poli {



  background: repeating-linear-gradient(-30deg, #fdfdfd, #fdfdfd 4px, #f8f8f8 0, #f8f8f8 20px);
  background: url(../images/u-portal-top.png);

}

.uop {
  width: 400px;
  float: left;
  margin-top: 80PX;
}

button.slick-prev.slick-arrow::before {
  width: 12px;
  height: 12px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #7a0;
}

button.slick-prev.slick-arrow::after {
  left: 5px;
  box-sizing: border-box;
  width: 3px;
  height: 3px;
  border: 3px solid transparent;
  border-left: 3px solid #fff;
}

.bk {
  margin: 0 auto;
  width: 900px;
  padding-top: 120px;
  padding-bottom: 120px;
}

.top-con li {
  list-style: none;
  font-size: 15px;
  /* background: #f5f5f5; */
  box-shadow: 0 0 15px #eaf1f4;
  border: 1px solid #e6eef3;
  padding: 11px 12px;
  border-radius: 25px;
  width: 150px;
  float: left;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 3;

}

.top-con ul {
  padding-left: 5px;
  padding-top: 10px;
}

.oopam {
  margin: 0 auto;
  color: #555;
  background-color: aqua;
  width: 400px;
  padding: 20px;

}

.point {
  margin-top: 100px;
}

.tx {
  width: 400px;
  float: left;
  margin-left: 60px;
  margin-top: 80px;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  padding-top: 80px;
  line-height: 2;
}


.panel-primary {
  max-width: 680px;
  /* float: left; */
  /* margin: 80px auto; */
  border-radius: 0px;
  border: solid 5px #880e4f;
  margin: 80px 40px;
  margin: 0px;
  margin: 100px auto;
}



.pull-left {
  float: left !important;
}

.panel-title {
  margin: 7px;
  font-size: 20px;
  color: inherit;
  letter-spacing: 1.7;
}

.container .panel-title {
  margin: 50px;
  font-size: 24px;
  color: inherit;
  letter-spacing: 1.5;
  text-align: left;
  margin-bottom: 0px;
  margin-left: 20px;
}

.container .panel-title-1 {
  margin: 0;
  font-size: 20px;
  color: inherit;
  letter-spacing: 1.5;
  text-align: left;
  margin-bottom: 0px;
  margin-left: 10px;
}

.LessonModule__block--has-review {
  box-shadow: 0px 1px 6px 1px #f5c09f;
}

.LessonModule__block {
  overflow: hidden;
  margin: 10px auto 20px;
  padding-bottom: 10px;
  border-radius: 8px;
  color: #888;
  position: relative;
  box-shadow: 0px 1px 6px 1px #aeaeae;
  background: #fff;
}



.LessonModule__title {
  color: #fff;
  word-wrap: break-word;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.1em;
  width: 220px;
  float: left;
  margin-top: 10px;
}

h3,
.h3 {
  font-size: 24px;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

tr a {
  color: #337ab7;
}

.clearfix tr a {
  color: #333333;
}

a {
  background-color: transparent;
}

.LessonModule__item {
  color: #888;
  word-wrap: break-word;
  font-size: 13px;
  line-height: 18px;
}



table {
  background-color: transparent;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.LessonModule__footer table .table-header {
  background: #f8f8f8;
}

.LessonModule__footer table .table-header th {
  color: #333333;
  font-weight: lighter;
  letter-spacing: 0.1em;
  line-height: 18px;
}

.table-condensed > thead > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > th,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > th,
.table-condensed > tfoot > tr > td {
  padding: 5px;
}

.table > thead > tr > th,
.table > thead > tr > td,
.table > tbody > tr > th,
.table > tbody > tr > td,
.table > tfoot > tr > th,
.table > tfoot > tr > td {
  padding: 5px 15px;
  line-height: 1.428571429;
  vertical-align: top;
  /*border-top: 1px solid #ddd;*/
  font-weight: normal;
}

th {
  text-align: left;
}

.LessonModule__list-item {
  width: 30%;
  margin-bottom: 20px;
  float: left;
  margin: 12px;
}

button.slick-prev.slick-arrow::before {
  width: 12px;
  height: 12px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #7a0;
}

button.slick-prev.slick-arrow::after {
  left: 5px;
  box-sizing: border-box;
  width: 3px;
  height: 3px;
  border: 3px solid transparent;
  border-left: 3px solid #fff;
}

dd {
  display: block;
  margin-left: 0px;
}

.con-title {
  margin-bottom: 30px;
  width: 1000px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.icon-star {
  font-size: 13px;
  color: #BBDEFB;
  font-family: "vorkercon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  letter-spacing: -3.5px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fw-b {
  margin-left: 10px;
  color: #fff;
  font-weight: bold;
}

.totalEvaluation_item {
  font-size: 14px;
  padding: 0 3px 0 0;
  display: inline-block;

  margin-bottom: 5px;

}

.text-success {
  background: #f8f8f8;
  width: 30%;
}

.btn-sm {
  padding: 10px;
}

.button_to {
  margin: 8px 0px;
  width: 200px;
  overflow: hidden;
  margin-top: 12px;
}

.col-md-3 {
  width: 25%;
}

.Sidebar__status {
  border-radius: 8px;
  box-shadow: 1px 1px 4px 0px #bbbbbb;
  margin-bottom: 10px;
  padding: 10px 0px 0px;
  background-color: #fff;
}

.Status {
  color: #888;
  padding-bottom: 5px;
}

.Status__block--line {
  border-bottom: 1px solid #d5d5d5;
  box-shadow: 0px 1px 8px -2px #d5d5d5;
}

.Status__block {
  width: 100%;
}

.Status__title {
  margin-top: 15px;
  text-align: center;
  margin-bottom: 10px;
}

p {
  margin: 0 0 10px;
}

.headB p {
  font-size: 16px;
  margin-bottom: 0px;
}

.Status__review {
  font-size: 14px;
  text-align: center;
  margin-bottom: 5px;
  padding-bottom: 0px;
}

Status__title {
  margin-top: 15px;
  text-align: center;
  margin-bottom: 10px;
}

.Status__review span {
  color: #008080;
  font-size: 16px;
  font-weight: bold;
}

.Status__rank {
  text-align: center;
  margin-bottom: 25px;
}

.Status__number {
  width: 120px;
  height: 120px;
  border: 1px solid #d5d5d5;
  border-radius: 50%;
  margin: 0 auto;
  overflow: hidden;
}

.Status__number span {
  position: relative;
  top: 28px;
  left: 8px;
  margin-right: 3px;
}

.Status__count {
  font-size: 40px;
  color: #e36718;
  font-weight: bold;
}

.Status__number span {
  position: relative;
  top: 28px;
  left: 8px;
  margin-right: 3px;
}

.Status__block--favorite {
  margin: 15px auto;
}

.Status__block {
  width: 100%;
}

.Status__favorites {
  text-align: center;
}

p {
  margin: 0 0 10px;
}

.Status__favorites a {
  color: #337ab7;
  text-decoration: none;
}



.Sidebar__title {
  color: #008080;
  margin-top: 50px;
  margin-bottom: 5px;
}

.Sidebar__lesson {
  padding: 10px 5px 5px;
  margin-bottom: 12px;
  border-radius: 2px;
  box-shadow: 0px 1px 2px #888;
  display: block;
  transition: 0.3s;
  background: #fff;
}

.Sidebar__lesson:first-child .Sidebar__badge {
  background-color: #c71585;
}

.Sidebar__badge {
  margin-right: 8px;
  display: inline;
}

.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  line-height: 1;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  background-color: #777777;
  border-radius: 10px;
}

.Sidebar__link {
  display: inline;
}

p {
  margin: 0 0 10px;
}

.Sidebar__text {
  color: #888;
  margin-top: 10px;
}

.Sidebar__link {
  display: inline;
  color: #337ab7;
}

.Sidebar__link a {
  color: #333;
}

p {
  margin: 0 0 10px;
}


h4 a {
  color: #000;
}

.e-1 {
  width: 40px;
  margin: 0 10px;
}


.wrap {
  overflow: hidden;
  background: rgb(247, 250, 251);

}

/*.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
}*/
}

@media (max-width:400px) {

  .col-md-9.col-xs-12 {
    width: 100%;
    padding: 0px;
  }

  .panel-heading {
    margin: 0px;
    padding-left: 10px;
    margin-bottom: 10px;
  }

  .panel-body {
    padding: 25px 0px;
  }

  .col-sm-3 {
    width: 50%;
    float: left;
  }

  .panel-primary {
    background-color: #880e4f;
    height: 530px;
    margin-bottom: 80px;
  }

  .clear-btn {
    margin-top: 77px;
  }

  .panel-title {
    font-size: 21px;
  }

  label {
    display: none;
  }

  .LessonModule__list-item {
    width: 100%;
    margin-bottom: 20px;
    float: left;
    margin: 0px;
  }

  header {
    margin-bottom: 40px;
  }

  .Sidebar__status {
    width: 100%;
  }

  .col-md-3 {
    width: 100%;
    padding: 0px;
    margin-top: 50px;
  }

  .phone-heading {
    margin-bottom: 0px;
  }

  .e-1 {
    width: 30px;
    margin: 0 10px;
  }

  .headB a {
    padding: 0px;
  }

  .title {
    width: 110px;
  }
}

.tag-list li {
  list-style: none;
  float: left;
  margin: 0 3px;
  background: #7d7b7b;
  border-radius: 5px;
  color: #fff;
  border-radius: 20px;
  padding: 6px 12px;
  font-size: 13px;
}

.tag-list ul {
  /* padding: 10px; */
  max-width: 95%;
  padding: 0;
}

figure {
  margin: 10px 0;
}

.tag-list .tag {
  padding: 5px 15px;
  max-width: 95%;
}

.table-per {
  margin-top: 10px;
}

a.button-header {
  background-color: #f67e28;
  color: #fff;
  border: solid 2px #f67e28;
  margin: 10px 5px;
}




.title-content {
  width: 100%;
  overflow: hidden;
}

.panpan {

  overflow: hidden;
  margin: 0 auto;
}

.top-content {
  overflow: hidden;
}

.content2 {
  margin-top: 50px;
}


.text {
  margin-top: 5px;
  margin-left: 20px;
  margin-bottom: 0;
}

.serach {
  max-width: 1000px;
  margin: 30px auto 60px;
  overflow: hidden;
}

.img-content {
  width: 100%;
  overflow: hidden;
}

.serach h2 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 30px;
}

.content1 {
  float: left;
  width: 31.3%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../images/class.jpg);
  background-size: cover;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0px 1%;
}


.con2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.12)), url(../images/飲み会.jpg);
}

.con3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../images/meet.jpg);
}

.content1 p {
  line-height: 200px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-weight: bold;
  margin: auto;
}

.serach .text {
  margin-bottom: 20px;
}

.search-text {
  margin-left: 20px;
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.7;
}

.kadomaru {
  overflow: hidden;

}


a.button-header.b-mypage {
  background: #fff;
  color: #757575;
  border: solid 2px #f67e28;
}



.kanren .clearfix dd h5:not(.st-css-no2) a {
  font-size: 25px;
  line-height: 1.2;
}

.kanren .clearfix dd h5 a {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-decoration: none;
  padding: 0;
}

.kanren dl {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #ccc;
  width: 29%;
  float: left;
  /* border: solid 2px #880e4f; */
  border: 1px solid #e6eef3;
  padding-right: 20px;
  padding-top: 5px;
  border-radius: 10px;
  margin-left: 40px;
  padding: 25px 30px;
  /* border: 2px solid #0cb3d9; */
  background: #fff;
  box-shadow: 0 0 15px #eaf1f4;
}

.clearfix {
  zoom: 1;
}


.kanren dt {
  float: left;
  width: 100px;
}

.post h5:not(.st-css-no2).kanren-t {
  margin-bottom: 5px;
}

@media print,
screen and (min-width: 960px) .smanone {
  display: block;
}

.smanone p {
  font-size: 13px;
  line-height: 23px;
  margin-bottom: 0px;
  margin: 0 10px;
}

.class-list {

  margin: 0px auto;
}

.kanren-t a {
  letter-spacing: 2;
}

.kanren-t {
  margin-bottom: 12px;
  margin-top: 0;
  margin-left: 10px;
  /* min-height: 26px; */
  max-height: 26px;
  overflow: hidden;
  text-overflow: ellipsis;
}



p.class-ok {
  font-size: 14.2px;
  margin-bottom: 15px;
}

.w-1000 {
  width: 1000px !important;
}

.center {
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 80px;
  text-align: center;


}

.about-u {
  background-color: #f5f5f5;
  padding-top: 50px;
  padding-bottom: 150px;
  margin-top: 100px;
}

fs-22 {
  font-size: 1.6923em !important;
}

.fw-n {
  font-size: 24px;
}

.topAboutBox {

  background-size: 100%;
  /* height: 298px;*/
  margin: 30px 50px 0;
  padding: 0 40px 30px;
  padding-left: 0;
}

.lh-higher {
  line-height: 2;
}

.p-top-site-desc__btn-area {
  padding-top: 30px;
  text-align: center;

}

.p-top-site-desc__btn {
  font-size: 16px;
  font-size: 1.6rem;
  padding: 20px 0;
  width: 254px;
}

.c-btn-variant2,
.p-contents-dashboard__large-btn {
  background-color: #f67e28;
  border: 1px solid #f67e28;
  color: #fff;
}

.c-btn-variant1,
.c-btn-variant1-o,
.c-btn-variant2,
.c-btn-variant2-o,
.c-btn-variant3,
.c-btn-variant3-o,
.c-btn-variant4,
.c-btn-variant4-o,
.p-contents-dashboard__large-btn,
.p-contents-table__show-btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  min-width: 800px;
  outline: 0;
  padding: 1em 2em;
  text-align: center;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  -webkit-transition: opacity .25s ease;
  transition: opacity .25s ease;
}

.content2 {
  width: 1060px;
  margin: 0 auto;
}

.tag-list {
  overflow: hidden;
  margin-top: 13px;
  margin-left: 3px;
}


.LessonModule__footer table {
  margin-bottom: 0px;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 8px;
  background: #fff;
}

.LessonModule__footer table .table-header th {

  font-weight: lighter;
  letter-spacing: 0.1em;
  line-height: 18px;
}

table .table-header {
  /*border-bottom: 2px solid #e6eef3;*/
  background: #fffdf1;
}

th {}

.title-ti {
  max-width: 100%;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  margin: 30px 20px;
  margin-top: 70px;
}

.title-ti span {
  color: #323333;
}

.title-ti .highlight-string {
  margin: 0 .2em;
  color: #f67e28;
  -webkit-font-feature-settings: 'palt';
  font-feature-settings: 'palt';
  letter-spacing: .1em;
}




.basic-button[data-v-553e386e] {
  background-color: #f67e28;
  border-radius: 15px;
  box-shadow: 0 2px 7px rgba(0, 0, 0, .2);
  color: #fff;
  display: block;
  font-size: 14px;
  font-weight: 700;
  margin: 0 auto;
  padding: 17px 0 14px;
  transition: all .2s ease-out;
  text-align: center;
  width: 230px;
}

.basic-button.is-large[data-v-553e386e] {
  border-radius: 10px;
  font-size: 16px;
  padding: 21px 0 21px;
  width: 320px;
  margin-top: 70px;
}


.kop a {
  display: block;
  width: 200px;
  margin: 20px auto 0;
  text-align: center;
  color: #fff;
  background: #000;
  text-decoration: none;
  padding: 15px 0;
}

.modal {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
}

.overLay {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(200, 200, 200, 0.9);
  width: 100%;
  height: 100%;
  z-index: 10;
}

.modal .inner {
  position: absolute;
  z-index: 11;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes modal {
  0% {
    top: -100%
  }

  100% {
    top: 50%
  }
}

@keyframes modalClose {
  0% {
    top: 50%
  }

  100% {
    top: 100%
  }
}

a.modalClose {
  background: #666;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 20px;
}

.slick-box img {
  width: 283px;
}

.slick-slider {
  width: 1090px;
  overflow: hidden;
  margin: 25px auto;
}

.slick-box dl {

  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #ccc;
  width: 320px;
  float: left;
  /* border: solid 2px #880e4f; */
  border: 1px solid #e6eef3;
  padding-right: 20px;
  padding-top: 5px;
  border-radius: 10px;
  padding: 25px 30px;
  /* border: 2px solid #0cb3d9; */
  background: #fff;
  box-shadow: 0 0 15px #eaf1f4;

}

.slick-box .clearfix dd h5 a {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-decoration: none;
  padding: 0;
}

.slick-slide {
  display: none;
  float: left;
  height: auto;
  min-height: 1px;
  margin: 23px;
  margin-left: 10px;
  margin-top: 0;
}

.smanone {
  text-overflow: ellipsis;
  min-height: 160px;
  max-height: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
  /* white-space: nowrap; */
}

a.rollover {
  display: block;
  background-color: #c12f34;
  color: #fff;
  width: 472px;
  padding: 25px 0 22px;
  letter-spacing: 3px;
  margin: 0 auto 40px;
  font-size: 22px;
  text-decoration: none;
  text-align: center;
  background: linear-gradient(to bottom, #fbaa70 0%, #f67e28 100%);
  border: 1px solid #ff421d;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  color: #fff;
  display: block;
  font-size: 24px;
  font-weight: bold;
  padding: 30px 20px 20px;
  width: 480px;
  height: 85px;
  line-height: 1.2;
}

.serach-modal {
  margin: 150px auto;
}

.registArea,
.requestArea {
  text-align: center;
  margin: 90px 0;
}

.requestArea p.intro {
  font-size: 22px;
}

.registArea p,
.requestArea p {
  line-height: 1.8em;
}

ul.slick-dots li {
  display: none;
}

input[type="submit"],
input[type="button"] {
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  appearance: button;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
}


@media (max-width: 768px) and (min-width: 315px) {

  .tag-list {
    overflow: hidden;
    margin-top: 0px;
    margin-left: 3px;
  }

  .smanone {
    text-overflow: ellipsis;
    min-height: 160px;
    max-height: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
    /* white-space: nowrap; */
    margin-bottom: 15px;
  }

  .wrap {
    overflow: hidden;
  }

  .title-h1 {
    margin: 0 18px 0px;
  }

  .slick-box dl {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: #ccc;
    width: 298px;
    float: left;
    /* border: solid 2px #880e4f; */
    border: 1px solid #e6eef3;
    padding-right: 20px;
    padding-top: 5px;
    border-radius: 10px;
    padding: 25px 20px;
    /* border: 2px solid #0cb3d9; */
    background: #fff;
    box-shadow: 0 0 15px #eaf1f4;
    /* height: 500px; */
  }

  ul.slick-dots li {
    display: none;
  }

  .slick-list.draggable {
    width: 320px;
    margin: 0;
    float: left;
  }

  button.slick-next.slick-arrow {
    width: 2.5%;
    float: left;
    margin-top: 200px;
  }

  .slick-slide {
    float: left;
    height: auto;
    min-height: 1px;
    margin: 23px;
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
  }

  a.rollover {
    display: block;
    background-color: #c12f34;
    color: #fff;
    width: 472px;
    padding: 25px 0 22px;
    letter-spacing: 3px;
    margin: 0 auto 40px;
    font-size: 22px;
    text-decoration: none;
    text-align: center;
    background: linear-gradient(to bottom, #fbaa70 0%, #f67e28 100%);
    border: 1px solid #ff421d;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: bold;
    padding: 20px 20px 20px;
    width: 80%;
    height: auto;
    line-height: 1.2;
  }

  .registArea,
  .requestArea {
    text-align: center;
    margin: 20px 0px;
  }

  .smanone p {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 0px;
    margin: 0 10px;
  }

  .slick-box .clearfix dd h5 a {
    font-size: 18px;
    line-height: 26px;
    color: #333333;
    text-decoration: none;
    padding: 0;
  }

  .contain {
    width: 100%;
  }

  .title-h1 {
    margin: 0 18px 0px;
  }

  .LessonDetail .tag-list li {
    list-style: none;
    float: left;
    margin: 0 3px;
    background: #7d7b7b;
    border-radius: 5px;
    color: #fff;
    border-radius: 20px;
    padding: 4px 12px;
    font-size: 13px;
  }

  .slick-slider {
    width: 1090px;
    overflow: hidden;
    margin: 0px auto;
  }


}
